<h1>Listing representantes</h1>

<table>
  <thead>
    <tr>
      <th>Fabricante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @representantes.each do |representante| %>
      <tr>
        <td><%= representante.fabricante %></td>
        <td><%= link_to 'Show', representante %></td>
        <td><%= link_to 'Edit', edit_representante_path(representante) %></td>
        <td><%= link_to 'Destroy', representante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Representante', new_representante_path %>
